{% extends 'base_generic.html' %}

{% block content %}
<div class="container">
  <h2 class="mb-4">{{ user.username }}'s Profile</h2>
  
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">Bio</h5>
      <p class="card-text">{{ profile.bio|default:"No bio available" }}</p>
      <h5 class="card-title mt-4">Total Posts: {{ total_posts }}</h5>
      <a href="{% url 'edit_profile' %}" class="btn btn-primary mt-4">Edit Profile</a>
    </div>
  </div>

  <h3 class="mb-4">Posts</h3>
  <div class="row">
    {% for post in posts %}
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm border-light rounded h-100 ">
          <a href="{% url 'post_detail' post.id %}" class="text-decoration-none">
            <div class="card-body">
              <h5 class="card-title text-primary">{{ post.title }}</h5>
              <p class="card-text text-muted">{{ post.description|truncatewords:20 }}</p>
            </div>
          </a>
        </div>
      </div>
    {% empty %}
      <div class="col-12">
        <div class="alert alert-info" role="alert">
          No posts available.
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
